
<app-teammember-navbar></app-teammember-navbar>
<section id="home" class="welcome-section">
    <div class="welcome-container">
        <div class="welcome-text">
            <h1>Welcome, Team Member</h1>
            <br>
            <p>Complete your Tasks efficiently and effectively.</p>
        </div>
        <div class="welcome-image">
            <img src="https://images.unsplash.com/photo-1551836022-d5d88e9218df" alt="IT Projects">
        </div>
    </div>
</section>

<footer>
    <p>&copy; 2024 IT Team Member. All rights reserved.</p>
</footer>