
<body>
    <header>
        <div class="container">
            <div class="logo"><img src="../../assets/images/logo-no-background.png" height="60px"></div>
        </div>
    </header>
    <main>
        <div class="hero-container">
            <section class="hero">
                <h1>Project Management</h1>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p><br>
                <a href="#" routerLink="/admin/alogin" class="cta-button">Get started..</a>
            </section>
        </div>
    </main>
    
</body>
